spring:
  application:
    name: second-service
  cache:
    type: redis
    redis:
      time-to-live: 3600000  # 1 ??? TTL
      cache-null-values: true
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8081
